.progress {
  composes: container from '~Components/ProgressBar.css';

  border-radius: 0;
  background-color: var(--cardBackgroundColor);
  color: var(--white);
  border-top: 1px solid rgb(255 255 255 / 6%);
}

.progressRadius {
  composes: container from '~Components/ProgressBar.css';

  border-radius: 0;
  background-color: var(--cardBackgroundColor);
  color: var(--white);
  border-top: 1px solid rgb(255 255 255 / 6%);
  transition: width 200ms ease;
}

.progressBar {
  composes: progressBar from '~Components/ProgressBar.css';

  transition: width 200ms ease;
}
